/* Topo */

body {
    -webkit-transition: opacity 2s;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

body.pageLoaded {
    opacity: 1;
    pointer-events: all;
}

.bg-dark {
    background-color: #4399ef !important;
}

.bg-dark a,
.bg-dark a:active {
    color: rgba(255, 255, 255, .7) !important;
}

.bg-dark a:hover {
    color: rgba(255, 255, 255, .5) !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 0.2) !important;
}

.navbar-toggler:hover {
    border-color: rgba(255, 255, 255, 0.5) !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-toggler.collapsed {
    border-color: rgba(255, 255, 255, 0.7) !important;
    color: rgba(255, 255, 255, 0.7) !important;
}

.navbar.fixed-top #loginclick {
    margin-left: 15px;
}

.navbar-collapse button {
    margin-top: 15px;
}

@media (min-width: 576px) {
    .navbar-collapse button {
        margin-top: 0px;
    }
}

.fixed-top .form-inline span {
    color: #f8f8f8;
    font-weight: bolder;
}

.fixed-top .form-inline a {
    margin-left: 25px;
}


/* Página */

.container {
    margin-top: 75px;
}


/* Postagens */

.posts,
.posts .post {
    border: 1px solid #e3e3e3;
}

.posts {
    padding: 20px;
}

.post {
    border: 1px solid #e3e3e3;
    padding: 15px;
    margin: 15px 0px;
}

.post:first-child {
    margin-top: 0px;
}

.post:last-child {
    margin-bottom: 0px;
}

.postinfo {
    background-color: #f1f1f1;
    margin-top: 10px;
    padding: 6px;
}


/* Rodapé */

.baixo {
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
    padding: 25px;
    margin: 0px;
}

.baixo .center {
    text-align: center;
}

.baixo .left {
    text-align: left;
}

.baixo .right {
    text-align: right;
}

.baixo,
.baixo a,
.baixo a:active {
    color: #979797 !important;
}

.baixo a:hover {
    color: #535353 !important;
    text-decoration: none !important;
}

.baixo a {
    margin-right: 15px;
    margin-left: 15px;
}

/* Carrosel */
 
.carousel-control-prev-icon,
.carousel-control-next-icon {
   height: 65px;
   width: 65px;
   outline: black;
   background-size: 100%, 100%;
   background-image: none;

}

.carousel-control-next-icon:after{
   content: '>';
   font-size: 65px;
   font-weight: 1000;
   color: #4399ef;
 }

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 65px;
  font-weight: 1000;
  color: #4399ef;
}

.carousel-indicators .active {
   background-color: #2c8beb;
}

 /* Cards */

 .card-title {
     color:#2c8beb;
 }

